body{
    background-color: whitesmoke;
    font-family:'Roboto', sans-serif;
    color: white;
    width: 100%;
}
.encabezado{
    padding: 1rem;
    display: flex;
    align-items: center;
}

h1{
    padding-top:2rem ;
    text-shadow: 1px 1px 2px black;

}
h2{
    width: 50%;
    font-size: 2rem;
    padding-left: 1rem;
    text-shadow: 1px 1px 2px black;
    margin-left: 2rem;
}
li{
    list-style: none;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.2rem;
}
.nav-link:hover{
    font-size: 1.3rem;
}
.material-icons:hover{
    font-size: 1.8rem;
}
.navbar{
    width: 40%;
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.contenedor-productos{
    margin-top:2rem;
}
.card{
    margin: .5rem  .5rem ;
    display: flex;
    align-items: center;
}
.card img{
    height: 200px;
    width: 180px;
}
.itemDetalle{
    height: 500px;
}
.imgCarrito{
    width: 100px;
    height: 150px;
}
.cantidadCarrito{
    width: auto;
    padding: 3rem;
    font-size: 2rem;
}